#main{
    height: 100%;
    
    .main-container{
        height: 88%;
    }
    .main-footer{
        margin-top: 30px;
        display:flex;
        justify-content:center;

    }
}


#start-game{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    background-color: rgba(0,0,0,0.1);
    &:hover{
        background-color: rgba(0,0,0,0.3);
    }
    &:focus{
        border: solid 1px black;
    }
}