.blog-main-mid-div{
    display:flex;
    flex-direction:column;
    height: 100%;
    .blog-main-mid-welcome{
        font-size: 40pt;
        text-align: center;
        margin: 0.5em 0 1em 0;
    }
    .blog-main-mid-title{
        flex: 0.05;
        font-size: 30pt;
        margin: 0 0 0 1em;
    }
    .blog-main-mid-posts{
        flex: 0.9;
        white-space: pre-wrap;
        padding: 1em;
        overflow: scroll;
    }
    .blog-main-mid-writepost{
        margin-left: 42.5%;
        position:relative; 
        left: 0;
        .blog-main-mid-writepost-button{
            width: 25%;
            position:absolute;
            margin-top: -6em;
            align-items: center;
            #blog-main-mid-writepost-button{
                position:fixed;
                bottom: 3em;
                width: 10em;
                height: 4em;
                border-radius: 1em;
                border: outset 3px gray;
                cursor: pointer;
                box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
                &:active{
                    border: inset 3px gray;
                }
            }
        }
    }
}

.blog-main-mid-writepost-content{
    width:10em;
    position:absolute;
    align-items: center;
    top: max(40em, 50%);
    left: 50%;
}