
.about-page-container{
    display:flex;
    flex-direction:column;
    max-height: max-content;
    margin-top: 5em;
    .about-page-intro{
        flex: 1;
        display:flex;
        flex-direction:column;
        .about-page-title{
            flex: 0.1;
            font-size: 40pt;
            padding: 10px;
            margin: 0 0 0 1em;
        }
        .about-page-choose-section{
            flex: 0.1;
            text-align: center;
            display:flex;
            flex-direction:row;
            margin-left: auto;
            margin-right: auto;
            & > div{
                margin: 10px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
                &:active{
                    background-color: rgba(0,0,0,0.5);
                }
            }
        }
    }
}