.blog-main{
    margin: none;
    display:flex;
    height: 100vh;
    width: 100%;
    overflow: none;
    background: linear-gradient(to bottom right, #a0d2eb, #e5eaf5, #d0bdf4 70%);
    .blog-main-left{
        border: solid 1px black;
        flex: 0.2;
        display:flex;
        flex-direction:column;
        .blog-sections-title{
            text-align: center;
            margin: 1em;
            font-size: 20pt;
        }
        .blog-main-sections{
            flex: 0.9;
            display:flex;            
            flex-direction:column;
            width: 100%;                
            background-color: rgba(200,200,255,0.4);
            .blog-main-section{
                margin: 1em;
                border-radius: 1em;
                flex: 0.1;
                max-height: 4em;
                text-align: center;
                padding: 10%;
                box-sizing: border-box;
                &:hover{
                    cursor: pointer;
                    animation: changecolor 1s linear 1;
                    animation-fill-mode: forwards;
                }
                &:active{
                    border: solid 2px rgba(0,0,0,0.5);
                }
            }
        }
        .blog-main-seeUsers-div{
            margin: none;
            flex: 0.1;
            display:flex;
            justify-content:center;
            .see-all-users-link{
                margin: 1em;
                .see-all-users-link-button{
                    border: none;
                    width: 8em;
                    height: 4em;
                    cursor: pointer;
                    border-radius: 1em;
                    &:hover{
                        border: solid 1px rgba(0,200,200,0.9);
                    }
                    &:active{
                        background-color: rgba(0,150,150,1);
                        border: solid 1px rgba(100,100,100,0.9);
                    }
                }
            }
        }
    }
    .blog-main-mid{
        flex: 0.6;
        margin: none;
        margin-top: 5em;
        max-width: 60%;
    }
    .blog-main-right{
        margin: none;
        border: solid 1px black;
        flex: 0.2;
        display:flex;
        flex-direction:column;
        .signin-section{
            display:flex;
            margin-top: 1em;
            .blog-signin-button{
                margin: auto;
                border: none;
                width: 6em;
                height: 3em;
                cursor: pointer;
                border-radius: 0.5em;
                background-color: rgba(0,100,100,0.6);
                &:hover{
                    border: solid 2px blue;
                }
                &:active{
                    border: solid 3px blue;
                    background-color: rgba(0,100,100,0.8);
                }
            }
        }
        .signin-form-section{
            display:flex;
            justify-content:center;
            flex-direction:column;
            .signin-form-section-content{
                flex: 0.9;
                display:flex;
                justify-content:center;
                    .signin-div{
                        flex: 1;
                        display:flex;
                        justify-content: center;
                        #blog-signin-button-signin{
                            width: 6em;
                            height: 3em;
                            border: none;
                            border-radius: 1em;
                            cursor: pointer;
                            &:hover{
                                background-color: rgba(0,100,200,0.4);
                            }
                            &:active{
                                background-color: rgba(0,100,200,0.7);
                                border: solid 1px blue;
                            }
                            &:focus{
                                border: solid 1px blue;
                            }
                        }
                        & > input{
                            height: 2.5em;
                            width: 12em;
                        }
                    }
                // }
                .login-form-login-content{
                    display:flex;
                    flex-direction:column;
                    gap: 1em;
                    margin-top: 2em;
                    justify-content:center;
                    .login-div{
                        flex: 1;
                        display:flex;
                        justify-content: center;
                        #blog-login-button-login{
                            width: 6em;
                            height: 3em;
                            border: none;
                            border-radius: 1em;
                            cursor: pointer;
                            &:hover{
                                background-color: rgba(0,100,200,0.4);
                            }
                            &:active{
                                background-color: rgba(0,100,200,0.7);
                                border: solid 1px blue;
                            }
                            &:focus{
                                border: solid 1px blue;
                            }
                        }
                        & > input{
                            height: 2.5em;
                            width: 12em;
                        }
                    }
                }
            }
            .signin-form-response{
                flex: 0.1;
            }
        }
    }
}


.logout-section{
    display:flex;
    margin-top: 1em;
    .blog-logout-button{
        margin: auto;
        border: none;
        width: 6em;
        height: 3em;
        cursor: pointer;
        border-radius: 0.5em;
        background-color: rgba(0,100,100,0.6);
        &:hover{
            border: solid 2px blue;
        }
        &:active{
            border: solid 3px blue;
            background-color: rgba(0,100,100,0.8);
        }
    }
}

#invalid-login-message{
    display:flex;
    justify-content:center;
    text-align: center;
    padding: 10px;
    color: red;
}

@keyframes changecolor{
    0%{

    }
    100%{
        background-color: rgba(50,50,150,0.3);
    }
}