#shop-main-container{

}

.shop-all-container{
    display:flex;
    flex-direction: column;
    height: 95%;
    margin-top: 30px;
    // z-index: 0;
    // background: linear-gradient(160deg, #62aad3 0%, #80D0C7 100%);
    .shop-all-section{
        height: 100%;
        .shop-all-section-title{
            font-size: 20pt;
            margin-bottom: 10px;
            margin-top: 20px;
            text-align: center;
        }
        .shop-all-section-content-container{
            display:flex;
            justify-content:center;
            height: 100%;
            .shop-all-item-link{
                margin: 20px;
                text-decoration: none;
                color: black;
                &:hover{
                    text-decoration: underline;
                }
            }
            .shop-all-section-content-items{
                flex: 1;
                // background-color: rgba(0,0,0,0.1);
                width: 220px;
                height: 220px;
                margin: 30px;
                justify-content: space-between;
                cursor:pointer;
                &:hover{
                    // border-bottom: solid 4px black;
                    
                }
            }
        }
    }
}

.shop-all-image{
    margin-top: 20px;
    height: auto;
    width: 14em;
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin:auto;
    max-height: 14em;
    &:hover{
        height: auto;
        width: 14.5em;
        box-sizing: border-box;
        box-shadow: 0 8px 8px 5px rgba(0,0,0,0.3);
    }
    &:active{

    }
}

.item-caption{
    text-align: center;
    text-decoration:none;
    margin-top: 10px;
    font-size: 15pt;
    &:hover{
        text-decoration: underline;
    }
}
.item-caption-price{
    text-align: center;
    margin-top: 10px;
    font-size: 15pt;
    text-decoration:none;
}