.App{
    background-color: white;
    display:flex;
    flex-direction:column;
    width: 100%;
    .project-header-games{
        width: 100vw;
        flex: 1;
        text-align:center;
        padding: 10px;
        background: gray;
    }
}
body{
    margin: 0px;
}

.games-main-background{
    height: 100em;
    min-width: 8em;
    flex: 0.9;
    text-align: center;
    box-sizing: border-box;
    position:relative;
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background: black;
    overflow: hidden;
    animation: animateColor 5s linear infinite;
    & > span{
        position:relative;
        display:block;
        width: 20px;
        height: 20px;
        &::before{
            content: '';
            position:absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            background: #00ff0a;
            box-shadow: 0 0 10px #00ff0a,
            0 0 20px #00ff0a,
            0 0 40px #00ff0a,
            0 0 60px #00ff0a,
            0 0 80px #00ff0a,
            0 0 100px #00ff0a;
                            
            border-radius: 50%;
            transition: 2s;
            transform: scale(0);
        }
        &:hover::before{
            transition:0s;
            transform: scale(1);
        }
    }
}