.App{
    background-color: white;
    display:flex;
    flex-direction:column;
    width: 100%;
    .project-header-games{
        width: 100vw;
        flex: 1;
        text-align:center;
        padding: 10px;
    }
}
body{
    margin: 0px;
}