#root{
    height: 100vh;
    width: 100%;
}

.container{
    display:flex;
    flex-direction:column;
    height: 100%;
    width: 100%; 
    .header{
        flex: 0.1;
        position: sticky;
        top: 0;
    }
    .middle{
        width: 100%;
        flex: 0.9;
        .left{
        }
        .mid{
            flex: 0.85;
        }
        .right{
            flex: 0.05;
        }
    }
    .footer{

    }
}