#root{
    height: 100vh;
    width: 100%;
}

.container{
    display:flex;
    flex-direction:column;
    height: 100%;
    width: 100%; 
    background-color: black;
    .header{
        flex: 0.1;
        // min-height: 10%;
        position: sticky;
        top: 0;
    }
    .middle{
        margin-top: 0;
        width: 100%;
        flex: 0.9;
        display:flex;
        .left{
            flex: 0;
        }
        .mid{
            flex: 1;
        }
        .right{
            flex: 0;
        }
    }
    .footer{

    }
}