#root{
    height: 100%;
}

.container{
    display:flex;
    height: 100%;
    .left{
        margin-top: 10%;
        margin-bottom: 10%;
        flex: 0.1;
    }
    .mid{
        flex: 0.85;
    }
    .right{
        flex: 0.05;
    }
}