
@font-face{
    font-family: chicago;
    src: url('../Games/fonts/Chicago.otf');
}

#choose-game-dropdown-container{
    display:flex;
    justify-content:center;
    width: 100%;
}

.choose-game-link{
    background: none;
    border: solid 1px black;
    text-decoration: none;
    color: #777;
    cursor: pointer;
    padding: 0.5em;
    width: 10em;
    margin-top: 0;
    border-radius: 2em;
    border: solid 1px white;
    font-family: chicago;
    font-size: 20pt;
    color: white;
    &:active{
        background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,100,0.8));
    }
}

.choose-game-dropdown.choose-game-active > .choose-game-link, .choose-game-link:hover{
    color: white;
}
.choose-game-dropdown{
    position:relative;
}

.choose-game-dropdown-menu{
    position:absolute;
    width: 17em;
    top: calc(100% + 0rem);
    background-color: transparent;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.choose-game-dropdown.choose-game-active > .choose-game-link + .choose-game-dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.choose-type-link{
    display:flex;
    flex-direction:column;
    gap: .25rem;
}

.dropdown-heading{
    display:flex;
    flex-direction:column;
    .dropdown-link{
        background: linear-gradient(45deg, rgb(255, 135, 135), rgb(136, 136, 255));
        flex: 1;
        padding: 0.5em;
        text-align: center;
        cursor: pointer;
        max-height: 2em;
        &:hover{
            background: linear-gradient(180deg, rgba(255, 135, 135), rgba(136, 136, 255));
        }
    }
}

.dropdown-active-class{
    background: radial-gradient(rgba(255,255,255,0.5), rgba(0,0,100,0.8));
}